<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>人狼ゲーム</title>
  <link rel="stylesheet" type="text/css" href="style_g.css">
</head>

<body>
  <h1 style="color: mintcream;"><span sec:authentication="name" />さんは[[${userinfo.role}]]です</h1>
  <div th:if="${isJinro}">
    <img src='werewolf2.JPG' width="200px" height="200px" alt="人狼" />
    <h2 th:if="${jinro}">もう一人の人狼は[[${jinro}]]です</h2>
  </div>
  <div th:if="${uranai}">
    <img src='seer.JPG' width="200px" height="200px" alt="占い師" />
    <h3>占い対象</h3>
    <div th:each="uranai:${uranai}">
      <ul>
        <li><a th:href="@{/uranai(target=${uranai.username})}">[[${uranai.username}]]</a></li>
      </ul>
      <ul>
        <li><a th:href="@{/uranai(target=graveyard)}">墓地</a></li>
      </ul>
    </div>
  </div>
  <div th:if="${predictTarget}">
    <h3>占い結果</h3>
    <p>[[${predictTarget.username}]]は[[${predictTarget.role}]]です</p>
  </div>
  <div th:if="${graveyard}">
    <h3>占い結果</h3>
    <p>墓地の役職は[[${graveyard[0].name}]]と[[${graveyard[1].name}]]です</p>
  </div>
  <div th:if="${kaito}">
    <img src='thief.JPG' width="200px" height="200px" alt="怪盗" />
    <h3>役職を盗む対象</h3>
    <div th:each="kaito:${kaito}">
      <ul>
        <li><a th:href="@{/kaito(target=${kaito.username})}">[[${kaito.username}]]</a></li>
      </ul>
    </div>
  </div>
  <div th:if="${stealTarget}">
    <h3>盗んだ役職</h3>
    <p>[[${stealTarget.role}]]</p>
  </div>
  <div th:if="${simin}">
    <img src='villager.JPG' width="200px" height="200px" alt="市民" />
  </div>
  <div>
  <a href="/entry" class="button">もどる</a>
  </div>

</body>

</html>
