body {
  background-image: url('bgr.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex-direction: column;
  align-items: flex-start;
  color: mintcream;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  margin: 0;
}

.centered {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #70769d;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.button:hover {
  background-color: #ddd;
}
