body {
  background-image: url('bgr.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex-direction: column;
  align-items: flex-start;
  color: mintcream;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  margin: 0;
}

.centered {
  text-align: center;
}

.button {
  font-size: 1.05rem;
  background: #70769d;
  color: #fff;
  border-radius: 3px;
  padding: 13px 18px;
  justify-content: space-between;
}

.button:hover {
  background-color: #ddd;
}
