body {
  font-family: 'Yu Gothic Medium', '游ゴシック Medium', sans-serif;
  color: black;
  background-image: url('ohiru.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#backgraund {
  background: rgba(255, 255, 255, 0.8);
  /* Adjust background opacity */
  border-radius: 8px;
  /* Slightly smaller border radius */
  position: absolute;
  top: 5%;
  /* Adjusted top position */
  left: 5%;
  width: 80%;
  height: 75%;
  /* Slightly smaller height */
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

#vote_num {
  border: rgb(177, 175, 175) 1px solid;
  padding: 10px;
  border-top-left-radius: 25px 25px;
  border-top-right-radius: 25px 25px;
  border-bottom-left-radius: 25px 25px;
  border-bottom-right-radius: 25px 25px;
}
