body {
  background-image: url('bgr.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex-direction: column;
  align-items: flex-start;
  color: mintcream;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  margin: 0;
}

.centered {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #70769d;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.button:hover {
  background-color: #ddd;
}

.glow {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.glow:after {
  content: "";
  height: 100%;
  width: 30px;
  position: absolute;
  top: -180px;
  left: 0;
  background-color: #fff;
  opacity: 0;
  transform: rotate(45deg);
  animation: glowAnimation 2s ease-in-out infinite;
}

@keyframes glowAnimation {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }

  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }

  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }

  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
