<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>人狼ゲーム-役職確認</title>
  <link rel="stylesheet" type="text/css" href="style_g.css">
  <script>
    var seconds = 5;
    window.onload = function () {
      var sse = new EventSource('/checkcard');
      var countdownDisplay = document.getElementById('countdown');

      var countdownInterval = setInterval(function () {
        var remainingSeconds = seconds % 60;

        countdownDisplay.textContent = remainingSeconds;

        if (seconds <= 0) {
          clearInterval(countdownInterval);
          if (seconds == 0) {
            alert("夜のターンに進みます");
            window.location.href = "/game"; // カウントダウン終了後のリダイレクト先のURL
          }
        } else {
          seconds--;
        }
      }, 1000); // 1秒ごとにカウントダウン
    }
  </script>
</head>

<body>
  <div class="vertical-container">
    <h1><span sec:authentication="name" />さんは[[${userinfo.role}]]です</h1>
    <div th:if="${isJinro}">
      <img src='werewolf.JPG' width="310px" height="310px" alt="人狼" />
    </div>
    <div th:if="${uranai}">
      <img src='seer.JPG' width="310px" height="310px" alt="占い師" />
    </div>
    <div th:if="${kaito}">
      <img src='thief.JPG' width="310px" height="310px" alt="怪盗" />
    </div>
    <div th:if="${simin}">
      <img src='villager.JPG' width="310px" height="310px" alt="市民" />
    </div>
    <div><span id="countdown">5</span>秒後に夜のターンに進みます</div>
  </div>
</body>

</html>
