<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>人狼ゲーム</title>
  <link rel="stylesheet" type="text/css" href="style_g.css">
</head>

<body>
  <div class="vertical-container">
    <h1><span sec:authentication="name" />さんは[[${userinfo.role}]]です</h1>
    <div th:if="${isJinro}">
      <img src='werewolf.JPG' width="310px" height="310px" alt="人狼" />
      <h2 th:if="${jinro}">もう一人の人狼は[[${jinro}]]です</h2>
    </div>
    <div th:if="${uranai}">
      <img src='seer.JPG' width="310px" height="310px" alt="占い師" />
      <h3>占い対象</h3>
      <ul>
        <div th:each="uranai:${uranai}">
          <li><a th:href="@{/uranai(target=${uranai.username})}" class="button">[[${uranai.username}]]</a></li>
        </div>
        <li><a th:href="@{/uranai(target=graveyard)}" class="button">墓地</a></li>
      </ul>
    </div>
    <div th:if="${predictTarget}">
      <h3>占い結果</h3>
      <p>[[${predictTarget.username}]]は[[${predictTarget.role}]]です</p>
    </div>
    <div th:if="${graveyard}">
      <h3>占い結果</h3>
      <p>墓地の役職は以下の通りです</p>
      <div th:each="graveyard:${graveyard}">
        <p>[[${graveyard.name}]]</p>
      </div>
    </div>
    <div th:if="${kaito}">
      <img src='thief.JPG' width="310px" height="310px" alt="怪盗" />
      <h3>役職を盗む対象</h3>
      <div th:each="kaito:${kaito}">
        <ul>
          <li><a th:href="@{/kaito(target=${kaito.username})}" class="button">[[${kaito.username}]]</a></li>
        </ul>
      </div>
    </div>
    <div th:if="${stealTarget}">
      <h3>盗んだ役職</h3>
      <p>[[${stealTarget.role}]]</p>
    </div>
    <div th:if="${simin}">
      <img src='villager.JPG' width="310px" height="310px" alt="市民" />
    </div>
    <div>
      <a href="/entry" class="button">もどる</a>
    </div>
  </div>
</body>

</html>
