<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>人狼ゲーム-夜のターン</title>
  <link rel="stylesheet" type="text/css" href="style_g.css">
  <script>
    var seconds = 20;
    window.onload = function () {
      var sse = new EventSource('/movekaigi');
      var countdownDisplay = document.getElementById('countdown');

      var countdownInterval = setInterval(function () {
        var remainingSeconds = seconds % 60;

        countdownDisplay.textContent = remainingSeconds;

        if (seconds <= 0) {
          clearInterval(countdownInterval);
          if (seconds == 0) {
            alert("昼のターンに進みます");
            window.location.href = "/kaigi"; // カウントダウン終了後のリダイレクト先のURL
          }
        } else {
          seconds--;
        }
      }, 1000); // 1秒ごとにカウントダウン
    }
  </script>
</head>

<body>
  <div class="vertical-container">
    <h1><span sec:authentication="name" />さんは[[${userinfo.role}]]です</h1>
    <div th:if="${isJinro}">
      <img src='werewolf.JPG' width="310px" height="310px" alt="人狼" />
      <h2 th:if="${jinro}">もう一人の人狼は[[${jinro}]]です</h2>
    </div>
    <div th:if="${uranai}">
      <img src='seer.JPG' width="310px" height="310px" alt="占い師" />
      <h3>占い対象</h3>
      <ul>
        <div th:each="uranai:${uranai}">
          <li><a th:href="@{/uranai(target=${uranai.username})}" class="button">[[${uranai.username}]]</a></li>
        </div>
        <li><a th:href="@{/uranai(target=graveyard)}" class="button">墓地</a></li>
      </ul>
    </div>
    <div th:if="${kaito}">
      <img src='thief.JPG' width="310px" height="310px" alt="怪盗" />
      <h3>役職を盗む対象</h3>
      <div th:each="kaito:${kaito}">
        <ul>
          <li><a th:href="@{/kaito(target=${kaito.username})}" class="button">[[${kaito.username}]]</a></li>
        </ul>
      </div>
    </div>
    <div th:if="${simin}">
      <img src='villager.JPG' width="310px" height="310px" alt="市民" />
    </div>
    <div><span id="countdown">20</span>秒後に昼のターンに進みます
    </div>
  </div>
</body>

</html>
