<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>人狼ゲーム-夜のターン</title>
  <link rel="stylesheet" type="text/css" href="style_g.css">
  <script>
    window.onload = function () {
      var sse = new EventSource('/toRoles');
      sse.onmessage = function (event) {
        console.log(event.data);
        // 5秒後に自動遷移する（5000ミリ秒 = 5秒）
        setTimeout(function () {
          window.location.href = "/kaigi"; // リダイレクト先のURL
        }, 5000);
      }
    }
  </script>
</head>

<body>
    <div th:if="${predictTarget}">
        <h3>占い結果</h3>
        <p>[[${predictTarget.username}]]は[[${predictTarget.role}]]です</p>
    </div>
    <div th:if="${graveyard}">
      <h3>占い結果</h3>
      <p>墓地の役職は以下の通りです</p>
      <div th:each="graveyard:${graveyard}">
        <p>[[${graveyard.name}]]</p>
      </div>
    </div>
    <div th:if="${stealTarget}">
      <h3>盗んだ役職</h3>
      <p>[[${stealTarget.role}]]</p>
    </div>
</body>

</html>