<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>人狼ゲーム・ルール</title>
</head>

<body>
  <h3>ワンナイト人狼のルール説明</h3>
  <h4>１．カードの配布</h4>
  <p>&emsp;6枚中4枚のカードがプレイヤーに配られ、残り2枚は墓地に起これる。</p>
  <p>&emsp;6枚のカードには人狼が2枚、市民が2枚、占い師、怪盗がある。</p>
  <h4>２．夜のアクションを行う</h4>
  <tr>
    <h5>アクションは次の順で行う。</h5>
  </tr>
  <tr>
    <td>
      <h5>-占い師-</h5>
    </td>
    <td>
      <p>&emsp;「他プレイヤー1人の役職を見る」または「選ばれなかった2つの役職を見る」のどちらかの行動を行う。</p>
    </td>
  </tr>
  <tr>
    <td>
      <h5>-人狼-</h5>
    </td>
    <td>
      <p>&emsp;誰が人狼チームかを確認する。ただし、墓地に人狼が入っている場合はなど、人狼が1人しかないこともある。</p>
    </td>
  </tr>
  <tr>
    <td>
      <h5>-怪盗-</h5>
    </td>
    <td>
      <p>自身の役職と他の役職を交換することができる。交換は必須ではない。</p>
    </td>
  </tr>
  <h4>３．昼のアクションを行う</h4>
  <p>&emsp;誰を処刑するかを決める「議論タイム」と「投票」を行う。</p>
  <h4>４．勝敗の決定</h4>
  <tr>
    <h5>勝利条件</h5>
  </tr>
  <tr>
    <td>
      <h5>-人間チーム-</h5>
    </td>
    <td>
      <p>&emsp;人狼を処刑できたら勝利</p>
    </td>
  </tr>
  <tr>
    <td>
      <h5>-人狼チーム-</h5>
    </td>
    <td>
      <p>&emsp;人間を処刑できたら勝利</p>
    </td>
  </tr>
  <br />
  <div>
    <a href="/entry">もどる</a>
  </div>


</body>

</html>
