<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>人狼ゲーム・ルール</title>
  <link rel="stylesheet" href="style_r.css">
</head>

<body>
  <header>
    <div class="header">
      <img src='logo.PNG' width="310px" height="150px" alt="人狼" />
    </div>
  </header>
  <main>
    <h2 class="main-title">ワンナイト人狼のルール説明</h2>
    <div class="method">
      <p class="number">1</p>
      <h2 class="title">カードの配布</h2>
    </div>
    <p>&emsp;6枚中4枚のカードがプレイヤーに配られ、残り2枚は墓地に置かれる。</p>
    <p>&emsp;6枚のカードには人狼が2枚、市民が2枚、占い師、怪盗がある。</p>
    <p>&emsp;<カード一覧>
    </p>
    <p><img src='werewolf.JPG' width="200px" height="200px">
      <img src='werewolf.JPG' width="200px" height="200px">
      <img src='seer.JPG' width="200px" height="200px">
      <img src='villager.JPG' width="200px" height="200px">
      <img src='villager.JPG' width="200px" height="200px">
      <img src='thief.JPG' width="200px" height="200px">
    </p>
    <div class="method">
      <p class="number">2</p>
      <h2 class="title">夜のアクションを行う</h2>
    </div>
    <p>&emsp;アクションは次の順で行う。</p>
    <ul>
      <li>&emsp;-占い師-</li>
      <p>&emsp;&emsp;「他プレイヤー1人の役職を見る」または「選ばれなかった2つの役職を見る」のどちらかの行動を行う。</p>
      <li>&emsp;-人狼-</li>
      <p>&emsp;&emsp;誰が人狼チームかを確認する。ただし、墓地に人狼が入っている場合はなど、人狼が1人しかないこともある。</p>
      <li>&emsp;-怪盗-</li>
      <p>&emsp;&emsp;自身の役職と他の役職を交換することができる。交換は必須ではない。</p>
    </ul>
    <div class="method">
      <p class="number">3</p>
      <h2 class="title">昼のアクションを行う</h2>
    </div>
    <p>&emsp;誰を処刑するかを決める「議論タイム」と「投票」を行う。</p>
    <div class="method">
      <p class="number">4</p>
      <h2 class="title">勝敗の決定</h2>
    </div>
    <p>&emsp;勝利条件</p>
    <ul>
      <li>&emsp;-人間チーム-</li>
      <p>&emsp;&emsp;人狼を処刑できたら勝利</p>
      <li>&emsp;-人狼チーム-</li>
      <p>&emsp;&emsp;人間を処刑できたら勝利</p>
    </ul>
    <br />
    <a href=/title class="button">もどる</a>
    <br>
  </main>
  <br>


</body>

</html>
