<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>人狼ゲーム</title>
  <script>
    window.onload = function () {
        var sse = new EventSource('/standbyroom');
        sse.onmessage = function (event) {
            console.log("sse.onmessage");
            console.log(event.data);
            var userList = JSON.parse(event.data);
            var userTable ="";
            for(var i = 0; i < userList.length; i++){
              userTable += "<li>" + userList[i] + "</li>";
            }
            document.getElementById("userList").innerHTML = userTable;
        }
    }
  </script>
</head>

<body>
  <ul id="userList"></ul>
  <div>
    <a href="/entry">もどる</a>
  </div>


</body>

</html>
