<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>人狼ゲーム</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('/standbyroom');
      sse.onmessage = function (event) {
        console.log("sse.onmessage");
        console.log(event.data);
        var userList = JSON.parse(event.data);
        var usertable = "";
        usertable += "<ul>";
        for (var i = 0; i < userList.length; i++) {
          usertable += "<li>" + userList[i] + "</li>";
        }
        usertable += "</ul>";
        usertable += "<br/>";
        if (userList.length == 4) {
          usertable += "<a href=" + "\"/game\"" + ">Start</a>";
        }
        console.log(usertable);
        var tobody = document.getElementById("userList");
        tobody.innerHTML = usertable;
      }
    }
  </script>
</head>

<body>
  <tobody id="userList"></tobody>
  <div>
    <a href="/entry">もどる</a>
  </div>


</body>

</html>
