<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>人狼ゲーム-タイトル</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <div class="centered">
    <img src='logo.PNG' width="310px" height="150px" alt="人狼" />
    <h2 style="color: mintcream;">ようこそ！ <span sec:authentication="name" /></h2>
    <p>
      <a href="/standby" class="button">スタート</a>
    </p>
    <p>
      <a href="/rules" class="button">ルール</a>
    </p>
    <p>
      <a href="/gamelog" class="button">ゲームログ</a>
    </p>
    <p>
      <a href="/logout" class="button">ログアウト</a>
    </p>
  </div>

</html>
