<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>人狼ゲーム-投票結果</title>
  <link rel="stylesheet" href="style_resultV.css">
  <script>
    var selection = "[[${selection}]]";
    window.onload = function () {
      var sse = new EventSource('/voteFinish');
      sse.onmessage = function (event) {
        console.log("sse.onmessage");
        console.log(event.data);
        var userList = JSON.parse(event.data);
        var usertable = "";
        usertable += "<ul>";
        usertable += "</ul>";
        usertable += "<br/>";
        if (userList.length == 4) {
          usertable += "<p>4人のユーザが集まったので結果へ進みます</p>";
          setTimeout(function () {
            window.location.href = "/gameresult?selection=" + selection; // リダイレクト先のURL
          }, 5000);
        }
        console.log(usertable);
        var tobody = document.getElementById("userList");
        tobody.innerHTML = usertable;
        setTimeout(function () {
          window.location.href = "/gameresult?selection=" + selection; // リダイレクト先のURL
        }, 20000);
      }
    }
  </script>
</head>

<body>
  <div id="backgraund">
    <h1>投票結果</h1>
    <h4>「[[${selection}]]」が選択されました</h4>
    <div id="vote_num">
      <p>吊らない:[[${count_0}]]票</p>
      <p>user1:[[${count_1}]]票</p>
      <p>user2:[[${count_2}]]票</p>
      <p>user3:[[${count_3}]]票</p>
      <p>user4:[[${count_4}]]票</p>
    </div>
    <div>
      <tobody id="userList"></tobody>
    </div>
    <br /><br />
  </div>
</body>

</html>
